default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check
        args: [--fix]
        stages: [pre-commit]
      - id: ruff-format
        stages: [pre-commit]


  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        ## Valid prefixes:
        #feat: - New feature
        #fix: - Bug fix
        #docs: - Documentation only
        #style: - Formatting, no code change
        #refactor: - Code change that neither fixes nor adds
        #perf: - Performance improvement
        #test: - Adding/fixing tests
        #build: - Build system/dependencies
        #ci: - CI configuration
        #chore: - Maintenance tasks
        #revert: - Reverts previous commit

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest tests/unit
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]


      - id: docs
        name: docs
        entry: uv run src/standupbrain/docs.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
